html {
    background-image: url("https://as1.ftcdn.net/v2/jpg/02/59/83/00/1000_F_259830094_tp0KrxrqyPL84PSeocxcW4xLdW3twOeg.jpg");
    background-repeat: no-repeat center center fixed;
    background-size: cover;
}
